appdirs==1.4.3
beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.3
decorator==4.0.11
future==0.16.0
gmusicapi==10.1.2
gpsoauth==0.4.1
httplib2==0.18.0
idna==2.5
MechanicalSoup==0.7.0
mock==2.0.0
mutagen==1.37
oauth2client==4.1.0
pbr==3.0.1
proboscis==1.2.6.0
protobuf==3.3.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycryptodomex==3.4.6
python-dateutil==2.6.0
requests>=2.20.0
rsa==4.1
six==1.10.0
urllib3==1.24.2
validictory==1.1.1
